name: push-build-release
run-name: ${{ github.actor }} ${{ github.event_name }} to ${{ github.base_ref }} 
on: 

  push:
    tags:
      - 'v*'
  pull_request:
    types: [opened,reopened,edited,synchronize]
    branches: [develop]
jobs:
  build_test_package:
    strategy:
      matrix:
        os: [windows-latest]
        sharedLib: [true,false]
        useThread: [true,false]

    uses: EddyTheCo/Common/.github/workflows/build-test-install.yml@main
    permissions:
      contents: write
    with:
      os: ${{ matrix.os }}
      sharedLib: ${{ matrix.sharedLib }}
      useThread: ${{ matrix.useThread }}
  release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: build_test_package
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
          
      - uses: actions/checkout@v3
    
      - uses: actions/download-artifact@v3
        with:
           path: artifacts
      - name: Display structure of downloaded files
        run: ls -R
          
      - name: Releases 
        uses: softprops/action-gh-release@v1
        with:
          files: ./artifacts/*/*       
